.centerScreenContainer {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cell {
	display: flex;
	width: 30%;
	border: 1px solid #cccccc;
	border-radius: 1rem;
	min-height: 50vh;
}
